<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head.ejs") %>
  
  <body>
    
    <%- include("../partials/header.ejs") %>

    <main class="main-carrito">
      <h2 class="titulo-carrito">CARRITO</h2>

      <div class="container-productos-detallecompra">
        <section class="container-productos-carrito">

          <% for (let i = 0; i< carrito.length; i++) {  %>
            <% let productoComprado = carrito[i].id_product %>
              
                <% if (producto[i].id_product = productoComprado) { %>

                  <article class="producto-carrito">
                    <img
                      class="img-producto"
                      src="/images/products/<%= producto[i].image %>"
                      alt="image"
                    />
                    <div class="descripcion-producto-carrito">
                      <h4 class="articulo"><%= producto[i].short_description %></h4>
                      <p class="talle-carrito">Cantidad: <%= carrito[i].quantity %></p>
                      <p class="talle-carrito">Precio: <%= producto[i].price %></p>
                                      

                      <div class="talle-carrito">
                        <form
                          method="POST"
                          action="/products/cart/delete/?_method=DELETE"
                        >
                          <input name="id_cart" id="id_cart" type="hidden" value="<%= carrito[i].id_cart %>">
                          <button class="userList-eliminar" type="submit">Eliminar</button>
                        </form>
                      </div>

                      
                      <p class="precio"><%= carrito[i].subtotal %></p>
                    </div>
                  </article>
                  
                 <div class="linea-separadora"></div>
               
              <% } %><% } %>         


        
          <div class="boton-contenedor">
            <a href="/products/order">
              <input
                class="finalizar-compra"
                type="button"
                value="FINALIZAR COMPRA"
              />
            </a>
          </div>
       
      </div>
      <div class="linea-separadora"></div>

      
      <section>
        <p class="ver-mas-titulo">Tambien podría interesarte</p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="/products/detail/7">
              <img src="/images/products/product-1620169698811.jpg" alt="" />
              <p>Under Armour Charged Pursuit 2</p>
              <p>$17.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/8">
              <img src="/images/products/product-1620169750268.jpeg" alt="" />
              <p>New Balance 574</p>
              <p>$13.499</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/9">
              <img src="/images/products/product-1620169845959.jpg" alt="" />
              <p>Nike Heritage</p>
              <p>$3.399</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/11">
              <img src="/images/products/product-1620169960844.jpg" alt="" />
              <p>Under Armour Huddle Snapback</p>
              <p>$1.999</p>
            </a>
          </div>
        </div> 
      </section> 
    </main>


    <%- include("../partials/footer.ejs") %> 

  </body>
</html>
