<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main class="main-productDetail">
      <article class="container-productDetail">
        <img src="/images/products/<%= productDetail.image %>" alt="" />
        <div class="container-caract-productDetail">
          <h3><%= productDetail.brands.brand + " " + productDetail.model %></h3>
          
          <p class="precio-productDetail">$<%= productDetail.price%></p>

          <form 
            action="/products/detail"
            method="POST"
            id="formNewCart">
            <input name="id_product" id="id_product" type="hidden" value="<%= productDetail.id_product%>">
            <input name="price" id="price" type="hidden" value="<%= productDetail.price%>">
            <div >
              <label for="size">• Talles Disponibles</label>
              <select name="size" id="size">
                <option disabled selected>Seleccionar</option>
                <% for (let i = 0; i < productDetail.sizes.length; i++) { %>}
                <option value="<%= productDetail.sizes[i].id_size %>">
                  <%= productDetail.sizes[i].size %>
                </option>
                <% } %>
              </select>
            </div>

            <div>
              <label for="color">• Colores Disponibles</label>
              <select name="color" id="color" disabled>
                <option disabled selected>Seleccionar</option>
                <% for (let i = 0; i < productDetail.colors.length; i++) { %>}
                <option value="<%= productDetail.colors[i].id_color %>">
                  <%= productDetail.colors[i].color %>
                </option>
                <% } %>
              </select>
            </div>

            <div>
              <label for="quantity">• Cantidad</label>
              <select name="quantity" id="quantity" disabled>
                <option disabled selected>Seleccionar</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>

            <div class="boton-contenedor">
              <input
                class="finalizar-compra"
                type="submit"
                value="AGREGAR AL CARRITO"
              />
            </div>
          </form>
        </div>
      </article>

      <article class="container-productDetail-bottom">
        <h4>• Descripción •</h4>
        <p><%= productDetail.long_description%></p>
      </article>

      <section>
        <p class="ver-mas-titulo">Quienes compraron este articulo tambien vieron estos modelos </p>
        <div class="ver-mas-productos">
          <div class="articulo-vermas">
            <a href="/products/detail/3">
              <img src="/images/products/product-1620169046677.jpg" alt="" />
              <p>Nike Sportwear</p>
              <p>$5.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/4">
              <img src="/images/products/product-1620169264827.jpg" alt="" />
              <p>Puma Ess Heather</p>
              <p>$7.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/5">
              <img src="/images/products/product-1620169332032.jpg" alt="" />
              <p>Adidas Superstars</p>
              <p>$12.999</p>
            </a>
          </div>
          <div class="articulo-vermas">
            <a href="/products/detail/6">
              <img src="/images/products/product-1620169643947.jpg" alt="" />
              <p>Under Armour Tech 2.0</p>
              <p>$3.799</p>
            </a>
          </div>
        </div> 
      </section> 

    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
