<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="main-newProduct">
      <div class="container-newProduct">
        <h2 class="titulo-newProduct">CREAR PRODUCTO</h2>

        <form
          action="/admin/products/new"
          method="POST"
          enctype="multipart/form-data"
          id="formNewProduct"
        >
          <div class="contenedor-campos-newProduct">
            <label for="productImage">• Imagen/es</label>
            <div id="preview"></div>
            <input
              type="file"
              id="productImage"
              name="productImage"
              accept=".png, .jpg, .jpeg"
              multiple
              onsubmit="productCreated()"
            />
            <div class="text-danger" id="errorImagen"></div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="brand">• Marca</label>
            <select name="brand" id="brand">
              <option disabled selected>Seleccionar</option>
              <% for (let i = 0; i < marca.length; i++) { %>}
              <option value="<%= marca[i].id_brand %>">
                <%= marca[i].brand %>
              </option>
              <% } %>
            </select>

            <div class="text-danger" id="errorMarca">
              <% if (locals.errors && errors.brand) { %> <%= errors.brand.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="model">• Modelo</label>
            <input type="text" name="model" id="model" placeholder="Modelo" />

            <div class="text-danger" id="errorModelo">
              <% if (locals.errors && errors.model) { %> <%= errors.model.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="price">• Precio</label>
            <input
              type="number"
              name="price"
              min="0"
              id="price"
              placeholder="$$$$"
            />

            <div class="text-danger" id="errorPrecio">
              <% if (locals.errors && errors.price) { %> <%= errors.price.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="category">• Categoria</label>
            <select name="category" id="category">
              <option disabled selected>Seleccionar</option>
              <% for (let i = 0; i < categoria.length; i++) { %>}
              <option value="<%= categoria[i].id_category %>">
                <%= categoria[i].category %>
              </option>
              <% } %>
            </select>

            <div class="text-danger" id="errorCategoria">
              <% if (locals.errors && errors.category) { %> <%=
              errors.category.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="genre">• Género</label>
            <select name="genre" id="genre">
              <option disabled selected>Seleccionar</option>
              <% for (let i = 0; i < genero.length; i++) { %>}
              <option value="<%= genero[i].id_genre %>">
                <%= genero[i].genre %>
              </option>
              <% } %>
            </select>

            <div class="text-danger" id="errorGenero">
              <% if (locals.errors && errors.genre) { %> <%= errors.genre.msg %>
              <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="shortDescription">• Descripción Breve</label>
            <textarea
              name="shortDescription"
              id="shortDescription"
              cols="1"
              rows="1"
              maxlength="60"
              placeholder="Descripción breve que se mostrará en la previsualizacion del producto"
            ></textarea>

            <div class="text-danger" id="errorDescCort">
              <% if (locals.errors && errors.shortDescription) { %> <%=
              errors.shortDescription.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct">
            <label for="longDescription">• Descripción Completa</label>
            <textarea
              name="longDescription"
              id="longDescription"
              cols="10"
              rows="10"
              placeholder="Descripción completa que se mostrará en el detalle del producto"
            ></textarea>

            <div class="text-danger" id="errorDescLarg">
              <% if (locals.errors && errors.longDescription) { %> <%=
              errors.longDescription.msg %> <% } %>
            </div>
          </div>

          <div class="contenedor-campos-newProduct" id="erroresNewProd">
            <p>ERROR: debes rellenar el formulario correctamente</p>
          </div>

          <div class="contenedor-campos-newProduct">
            <button type="submit" class="boton-newProduct">CONTINUAR</button>
          </div>
        </form>
      </div>
    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
