<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <article class="container-userDetail">
        <div class="userDetail-name-img">
          <div class="userDetail-name">
            <h4><%= userDetail.firstName %></h4>
            <h4><%= userDetail.lastName %></h4>
          </div>
          <img
            class="profile-pic"
            src="/images/users/<%= userDetail.imageUser %>"
            alt=""
          />
        </div>

        <div class="userDetail-more">
          <div class="userDetail-row">
            <p class="grey-title">Fecha de nacimiento</p>
            <p class="user-data"><%= userDetail.dateOfBirth%></p>
          </div>
          <div class="userDetail-row">
            <p class="grey-title">Email</p>
            <p class="user-data"><%= userDetail.email%></p>
          </div>
          <div class="userDetail-row">
            <p class="grey-title">Número de teléfono</p>
            <p class="user-data"><%= userDetail.phone%></p>
          </div>
          <div class="userDetail-row">
            <p class="grey-title">Contraseña</p>
            <p class="user-data">**********</p>
          </div>
          <div class="userDetail-row">
            <p class="grey-title">Historial de compras</p>
            <a href="/users/history" class="user-data">Ir al historial</a>
          </div>
        </div>
        <div class="boton-reg-log">
          <a href="/admin/users"><button>Volver</button></a>
        </div>
      </article>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
