<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-userList">
      <h3>- LISTADO DE USUARIOS -</h3>
      <% for( let i = 0; i < users.length; i++ ) { %>

      <a
        class="userList-user-container"
        href="/users/detail/<%= users[i].id %>"
      >
        <div class="userList-nombre">
          <p><%= users[i].firstName %> <%= users[i].lastName %></p>
          <form
            method="POST"
            action="/admin/users/delete/<%= users[i].id %>?_method=DELETE"
          >
            <button class="userList-eliminar" type="submit">Eliminar</button>
          </form>
        </div>
      </a>

      <% } %>
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
